<div class="overlay-mask">
  <div class="container mobile-container " id="oeuvre" >
    <div class="row">
      <div class="col-xs-12 col-sm-12" style="padding-right: 0px; padding-left: 0px;" >
        <div class="well-mobile">
          <h3 class="leadmobile" >
            Des casquettes originales et uniques : une œuvre d'art sur la tête
          </h3>
          <hr/>
          <br/>
          <p ><strong>Meta Casquette</strong> des créations uniques, de vraies œuvre d'art sur la tête qui tranche avec l'ensemble des autres casquettes de la planète.</p>
          <p ><strong>Avec Meta Casquette vous ne passerez pas inaperçu !</strong></p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container mobile-container" id="fabrication_francaise" >
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12">
      {% set casquette = casquettes[randCasquettes[4]] %}
      {% set modelNumber = "%04d"|format(casquette[0]) %}
      <img class="img-responsive center-block" src="{{ asset('/img/casquettes/'~modelNumber~'/'~modelNumber~'.jpg') }}" alt="{{ casquette[4] }}">
    </div>
    <div class="col-xs-12 col-sm-12" style="padding-right: 0px; padding-left: 0px;">
      <div class="well-mobile margin-top-80" >
        <h3 class="leadmobile" >
          Des casquettes fabriquées en France
        </h3>
        <hr/>
        <br/>
        <p ><strong>Meta Casquette</strong> c'est l'art de la fabrication en <strong>France</strong>. L'atelier est basé à Paris dans le quartier du Père Lachaise.</p>
        <p >La majorité des matériaux récupérés et réutilisés dans les créations ont été fabriqués en France.</p>
      </div>
    </div>
  </div>
</div>

<div class="overlay-mask">
  <div class="container mobile-container" id="fait_main" >
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12" >
        {% set casquette = casquettes[randCasquettes[5]] %}
        {% set modelNumber = "%04d"|format(casquette[0]) %}
        <img class="img-responsive center-block" src="{{ asset('/img/casquettes/'~modelNumber~'/'~modelNumber~'.jpg') }}" alt="{{ casquette[4] }}">
      </div>
      <div class="col-xs-12 col-sm-12" style="padding-right: 0px; padding-left: 0px;">
        <div class="well-mobile margin-top-80">
          <h3 class="leadmobile" >
            Des casquettes fait main
          </h3>
          <hr/>
          <br/>
          <p>Toutes les casquettes sont fabriquées <strong>entièrement à la main</strong>.</p>
          <p>Les différents matériaux sont poinçonnés à l'emporte pièce et puis assemblés les uns aux autres avec du fil de scoubidou.</p>
          <p>Les casquettes ont une doublure intérieur en <strong>tissu Wax ou en cuir</strong>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mobile-container" id="upcyclee" >
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12">
      {% set casquette = casquettes[randCasquettes[6]] %}
      {% set modelNumber = "%04d"|format(casquette[0]) %}
      <img class="img-responsive center-block" src="{{ asset('/img/casquettes/'~modelNumber~'/'~modelNumber~'.jpg') }}" alt="{{ casquette[4] }}">
    </div>
    <div class="col-xs-12 col-sm-12" style="padding-right: 0px; padding-left: 0px;">
      <div class="well-mobile margin-top-80" >
        <h3 class="leadmobile" >
          Des casquettes Upcyclées
        </h3>
        <hr/>
        <br/>
          <p>Toutes les casquettes sont fabriquées à partir de <strong>matériaux récupérés</strong> : cartes de cabines téléphoniques, de parcmètre, ancien fanzine, canettes de boissons, cartes géographiques, cartes pokémon, tickets de transports....</p>
          <br/>
          <p >On appelle cette technique <strong>l'Upcycling ou Surcyclage</strong> en français.</p>
          <br/>
          <p>Le concept de Meta Casquette est de détourner n'importe quel matériau pour en faire une casquette.</p>
        </div>
      </div>
    </div>
  </div>
