{% extends 'base.html.twig' %}
{% block body %}
{% if mobile %}
<div class="masthead clearfix" style="background-color: #000;">
  <div class="inner">
    <h3 class="masthead-brand"><i class="fa fa-phone fa-fw"><a href="tel:{{ telephone|replace({' ':''})  }}"></i> {{ telephone }}<br><small>Contact <i class="fa fa-level-up"></i></small></a></h3>
      <nav class="visible-sm-block visible-xs-block">
        <ul class="nav masthead-nav">
            <li><a href="{{ facebook }}"><i class="fa-brands fa-facebook-f fa-3x"></i></a></li>
            <li><a href="{{ instagram }}"><i class="fa-brands fa-instagram fa-3x"></i></a></li>
            <li><a href="mailto:{{ email }}"><i class="fa fa-envelope fa-3x"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  {% endif %}
  <div class="site-wrapper video-background">

    <a id="bgndVideo" class="player" data-property="{videoURL:'http://youtu.be/{{ ytid }}', containment:'body', autoPlay:true, mute:true, startAt:1, stopAt: 53, opacity:0.7, }"></a>

    <div class="overlay"></div>

    <div class="site-wrapper-inner">

      {% if not mobile %}
      <div class="masthead clearfix" >
        <div class="inner">
          <h3 class="masthead-brand"><i class="fa fa-phone fa-fw"><a href="tel:{{ telephone|replace({' ':''})  }}"></i> {{ telephone }}<br><small>Contact <i class="fa fa-level-up"></i></small></a></h3>
          <nav class="visible-md-block visible-lg-block">
            <ul class="nav masthead-nav">
                <li><a href="{{ facebook }}"><i class="fa-brands fa-facebook-f fa-lg"></i></a></li>
                <li><a href="{{ instagram }}"><i class="fa-brands fa-instagram fa-lg"></i></a></li>
                <li><a href="mailto:{{ email }}"><i class="fas fa-envelope fa-lg"></i></a></li>
              </ul>
            </nav>
            </div>
          </div>
          {% endif %}

          <div class="cover-container">
            <div class="inner cover">
              <img class="img-responsive" src="{{ asset('/img/logo/logo_detache_white.png') }}" alt="/MetaCasquette"><h1 class="cover-heading">/META CASQUETTE</h1>
              <h1><em>Une œuvre d'art sur la tête</em></h1>
              <h2 class="lead" style="font-size:22px;"><a href="#oeuvre" style="text-decoration:underline;">Une œuvre d'art unique</a> / <a href="#fabrication_francaise" style="text-decoration:underline;">Fabriquée en France</a>  / <a href="#fait_main" style="text-decoration:underline;">Fait main</a> / <a href="#upcyclee" style="text-decoration:underline;">Upcyclée</a></h2>
            </div>

            <p class="lead fleche-bas"><a href="#models1" class="btn btn-lg btn-default"><i class="fa fa-chevron-down"></i></a></p>
          </div>

        </div>
      </div>

      <div class="container-fluid overlay-mask" id="models1" >
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 thumbnail-wrapper">
                <a href="#oeuvre" class="thumbnail img-hover"  >
                  <img src="{{ asset('/img/casquettes/thumbs/08_britishMuseum_thumb_caption.png') }}" alt="Circuits électroniques casquette">
                </a>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6 thumbnail-wrapper">
                <a href="#fabrication_francaise" class="thumbnail img-hover">
                  <img src="{{ asset('/img/casquettes/thumbs/05_canadian_cans_thumb_caption.png') }}" alt="Canettes Canadiennes">

                </a>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6 thumbnail-wrapper">
                <a href="#fait_main" class="thumbnail img-hover">
                  <img src="{{ asset('/img/casquettes/thumbs/02_colored_telecarte_thumb_caption.png') }}" alt="Télécartes Colorées">

                </a>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6 thumbnail-wrapper">
                <a href="#upcyclee" class="thumbnail img-hover">
                  <img src="{{ asset('/img/casquettes/thumbs/01_maps_thumb_caption.png') }}" alt="Carte Plan">

                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      {{ include('default/description_light.html.twig') }}

      <!-- Carousel1 -->
      <div class="overlay-mask" class="modeles" id="modeles">
        <h2 style="text-decoration:underline;">Modèles</h2>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="carousel carousel-showmanymoveone slide" id="carousel1-tilenav" data-interval="false">
                <div class="carousel-inner">
                  {% for model in modeles01 %}
                  <div class="item {% if loop.first %}active{% endif %}">
                    <div class="col-xs-6 col-sm-6 col-md-4">
                      <a data-toggle="modal" data-target="#modeles01_popup_{{ loop.index }}" class="img-hover" style="cursor:pointer">
                        <img src="{{ asset('/img/casquettes/models/01/'~model[0]~'.png') }}" >
                      </a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <a class="left carousel-control" href="#carousel1-tilenav" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#carousel1-tilenav" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>


        <!-- Carousel2 -->
        <div class="overlay-mask" class="modeles">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="carousel carousel-showmanymoveone slide" id="carousel2-tilenav" data-interval="false">
                  <div class="carousel-inner">
                    {% for model in modeles02 %}
                    <div class="item {% if loop.first %}active{% endif %}">
                      <div class="col-xs-6 col-sm-6 col-md-4">
                        <a data-toggle="modal" data-target="#modeles02_popup_{{ loop.index }}" class="img-hover" style="cursor:pointer">
                          <img src="{{ asset('/img/casquettes/models/02/'~model[0]~'.png') }}" >
                        </a>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <a class="left carousel-control" href="#carousel2-tilenav" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                  <a class="right carousel-control" href="#carousel2-tilenav" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>

      </div>


              <!-- gif  -->
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <img src="{{ asset('/img/casquettes/gif_anime_long_sort22.gif') }}" style="width:100%">
                  </div>
                </div>
              </div>

    </div>

  </div>
</div>

{% for model in modeles01 %}
<!-- Modal -->
<div class="modal fade" id="modeles01_popup_{{ loop.index }}">
  <div class="modal-dialog modal-xlg" style="background-color:black;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ model[1] }}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
        <img src="{{ asset('/img/casquettes/models/01/'~model[0]~'_big_0.png') }}" alt="{{ model[1] }}" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
        <img src="{{ asset('/img/casquettes/models/01/'~model[0]~'_big_1.png') }}" alt="{{ model[1] }}" class="img-responsive">
          </div>
      </div>
        <p>{{ model[2] }}</p>
        <p>{{ model[3] }}</p>
        <p>{{ model[4] }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% for model in modeles02 %}
<!-- Modal -->
<div class="modal fade" id="modeles02_popup_{{ loop.index }}">
  <div class="modal-dialog modal-xlg" style="background-color:black;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ model[1] }}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
        <img src="{{ asset('/img/casquettes/models/02/'~model[0]~'_big_0.png') }}" alt="{{ model[1] }}" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
        <img src="{{ asset('/img/casquettes/models/02/'~model[0]~'_big_1.png') }}" alt="{{ model[1] }}" class="img-responsive">
          </div>
      </div>
        <p>{{ model[2] }}</p>
        <p>{{ model[3] }}</p>
        <p>{{ model[4] }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
