<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Mathurin Petit" />
  <meta name="description" content="MetaCasquette - Des créations uniques, de vraies œuvre d'art sur la tête - Casquettes originales créées par Mathurin Petit">
  <meta name="keywords" content="casquette, casquettes, mathurin, maturin, art, fashion, mode, cap, handmade, création, créateur, france, originales, luxe, artiste, haute-couture"/>
  <meta property="og:url" content="https://www.metacasquette.com">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.metacasquette.com/img/casquettes/0022/0022_side02.jpg">

  <meta property="og:title" content="MetaCasquette - Une œuvre d'art sur la tête">
  <meta property="og:description" content="MetaCasquette des créations uniques, de vraies œuvre d'art sur la tête - Casquettes originales créées par Mathurin Petit">

  <meta name="twitter:image" content="https://www.metacasquette.com/img/casquettes/0022/0022_side02.jpg">
  <meta name="twitter:card" content="summary_large_image">


  <title>{% block title %}MetaCasquette{% endblock %}</title>


  <link rel="icon" type="image/png" href="{{ asset('/img/favicon/favicon-32x32.png') }}" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="{{ asset('/img/favicon/apple-touch-icon.png') }}" sizes="180x180">
  <link rel="icon" href="{{ asset('/img/favicon/favicon-32x32.png') }}" sizes="32x32" type="image/png">
  <link rel="icon" href="{{ asset('/img/favicon/favicon-16x16.png') }}" sizes="16x16" type="image/png">
  <link rel="icon" href="{{ asset('/img/favicon/favicon.ico') }}" />


  {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('/css/bootstrap-3.3.2.min.css') }}">
  <link rel="stylesheet" href="{{ asset('/css/jquery.mb.YTPlayer.min.css') }}">


  <link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/fontawesome/css/brands.css" rel="stylesheet">
  <link href="/fontawesome/css/solid.css" rel="stylesheet">

  <link rel="stylesheet" href="{{ asset('/css/main.css') }}" />
  {% endblock %}


</head>
<body>
  {% block body %}{% endblock %}

{% block footer %}

<div class="overlay-mask">
  <div class="container text-center">
      <hr />
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-3 col-xs-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="email"><a href="mailto:{{ email }}"><i class="fa-solid fa-envelope fa-4x"></i></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ facebook }}"><i class="fa-brands fa-facebook fa-4x"></i></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ instagram }}"><i class="fa-brands fa-instagram fa-4x"></i></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="https://github.com/mathurinpetit/metacasquette">Github</a></li>
            <li><a href="https://github.com/mathurinpetit/metacasquette/blob/master/LICENSE">Licence libre du site</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>

{% endblock %}

  {% block javascripts %}
  <!-- jQuery -->
  <script src="{{ asset('/js/lib/jquery-2.1.1.min.js') }}"></script>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ asset('/js/lib/bootstrap-3.3.2.min.js') }}"></script>
  <script type="text/javascript" src="{{  asset('/js/device.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('/js/jquery.mb.YTPlayer.js') }}"></script>

  <script type="text/javascript" src="{{  asset('/js/custom.js') }}"></script>
  <script type="text/javascript" src="{{  asset('/js/product-viewer.js') }}"></script>
  <script type="text/javascript" src="{{  asset('/js/metacasquette.js') }}"></script>
  <script type="text/javascript" src="{{  asset('/js/jeu.js') }}"></script>
  {% endblock %}
</body>
</html>
